@import "lib";

.shop-by {
  //width: 100%;
  padding-top: 20px;
  margin-right: -15px;
  margin-left: -15px;
  > h2 {
    font-family: @font-poppins;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 5vmin;
  }
}

.section-category-wrapper {
  margin-bottom: 25px;
  & .section-category-bg {
    .aspect-ration-wrapper(100%, 350px);
    > a {
      > img {
        .aspect-ration();
        width: 100%;
        min-height: 100%;
      }
    }
  }
  & .section-category-sm {
    .aspect-ration-wrapper(100%, 200px);
    > a {
      > img {
        .aspect-ration();
        width: 100%;
        min-height: 100%;
      }
    }
  }
}